- What is Python: https://en.wikipedia.org/wiki/Python_(programming_language)

- We will be using Python 2.7 for this course but Python 3.5 is similar.

- Ipython Notebook.

### Variables

In [17]:
a=2
print a

2

In [18]:
type(a)

int

In [21]:
a=a+a
a

16

In [22]:
a=lambda x: x**2

In [24]:
type=2

In [26]:
del type

In [27]:
type(a)

function

In [11]:
a(2)

4

### Types and Typecasting

In [28]:
print type("5")
print type(5)
print type(5.0)

<type 'str'>
<type 'int'>
<type 'float'>

In [29]:
a="8"

In [31]:
a+a

'88'

In [32]:
int(a)+int(a)

16

In [33]:
a = "8"
b = 5
print a+a
print a*3
print b+b
print(a+b)

88
888
10

TypeError: cannot concatenate 'str' and 'int' objects

In [34]:
try:
    print a+b
except TypeError:
    print int(a)+int(b)

13

In [36]:
import numpy as np
import pandas as pd

In [37]:
type(np.array([1,0,0]))

numpy.ndarray

In [38]:
type(pd.Series([1,0,0]))

pandas.core.series.Series

### Operators

Python offers the usual operators such as +,-,/,*,=,>,<,==,!=,&,|, (sum, difference, divide, product, assignment, greater than, less than, equal - comparison,not equal, and, or, respectively).
Additionally, there are %,// and ** (modulo, floor division and ‘to the power’). Note a few specifics:

In [23]:
5/2

2

In [40]:
5*1.0/2

2.5

In [41]:
5%2

1

In [31]:
5==2

False

In [42]:
5=2

SyntaxError: can't assign to literal (<ipython-input-42-e513a3e3f378>, line 1)

In [43]:
5!=2

True

In [44]:
(5==2)&(5!=2)

False

In [45]:
(5==2)|(5!=2)

True

### Iterators

In [46]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
range(1,10)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
for i in range(1,10):
     print(i)

1
2
3
4
5
6
7
8
9

In [2]:
i = 1
while i < 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

### Conditional Statements

In [49]:
a = 20
if a >= 22:
   print("if")
elif a >= 21:
    print("elif")
else:
    print("else")

else

### Strings and String Handling

In [4]:
a = "A string of characters, with newline \n CAPITALS, etc."
print(a)
b=5.0
newstring = a + "\n We can format strings for printing %.2f"
print(newstring %b)

for i in range(1474,1490,3):  
    st="{}@nyu.edu".format(i)
    print st

A string of characters, with newline
 CAPITALS, etc.
A string of characters, with newline
 CAPITALS, etc.
 We can format strings for printing 5.00
1474@nyu.edu
1477@nyu.edu
1480@nyu.edu
1483@nyu.edu
1486@nyu.edu
1489@nyu.edu

In [50]:
a = "ABC DEFG"
print(a[1:3])
print(a[0:5])

BC
ABC D

In [51]:
list(a)

['A', 'B', 'C', ' ', 'D', 'E', 'F', 'G']

In [52]:
a = "ABC defg"
print(a.lower())

print(a.upper())

print(a.find('d'))

print(a.replace('de','a'))

print(a)


b = a.replace('def','aaa')
print(b)
b = b.replace('a','c')
print(b)
b.count('c')

abc defg
ABC DEFG
4
ABC afg
ABC defg
ABC aaag
ABC cccg

3

In [55]:
b.lower().count("c")

4

regular expression in python: https://docs.python.org/2/library/re.html

### Lists, Tuples, Dictionaries

list

In [56]:
a_list = [1,2,3,"this is a string",5.3]
b_list = ["A","B","F","G","d","x","c",a_list,3]
print(b_list)

['A', 'B', 'F', 'G', 'd', 'x', 'c', [1, 2, 3, 'this is a string', 5.3], 3]

In [57]:
a_list[0]

1

In [59]:
a_list[-1]

5.3

In [62]:
a_list[0:-1:3]

[1, 'this is a string']

In [64]:
import random

a = [1,2,3,4,5,6,7]
a.insert(2,"asdfads")
print(a)
a.append(8888)
print(a)
a.reverse()
print(a)

print a[::-1]

random.shuffle(a)
print a 

a.sort()

print(a)
a.pop()

print(a)
a.remove(3)

print(a)
a.remove(a[4])
print(a)

[1, 2, 'asdfads', 3, 4, 5, 6, 7]
[1, 2, 'asdfads', 3, 4, 5, 6, 7, 8888]
[8888, 7, 6, 5, 4, 3, 'asdfads', 2, 1]
[1, 2, 'asdfads', 3, 4, 5, 6, 7, 8888]
[4, 'asdfads', 1, 7, 2, 5, 8888, 3, 6]
[1, 2, 3, 4, 5, 6, 7, 8888, 'asdfads']
[1, 2, 3, 4, 5, 6, 7, 8888]
[1, 2, 4, 5, 6, 7, 8888]
[1, 2, 4, 5, 7, 8888]

#### List Comprehensions.

In [3]:
#List Comprehensions. 
[x for x in range(10) if x<=5]

[0, 1, 2, 3, 4, 5]

In [70]:
bbb="String can be treated as a  list of characters"
a="abd ABD"
#Split a string and store it to a list
b=a.split(" ")
print b
# Join a list to string.
"@@".join(b)

['abd', 'ABD']

'abd@@ABD'

In [72]:
bbb.replace("  "," ").split(" ")

['String', 'can', 'be', 'treated', 'as', 'a', 'list', 'of', 'characters']

Tuple

Tuple is a list that you don't want to modify it.

In [73]:
a = (1,2,3,4)
print a
print type(a)
a[1] = 2

(1, 2, 3, 4)
<type 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [74]:
my_pets = ("Chestnut", "Tibbs", "Dash", "Bast")

In [69]:
my_pets = ("Chestnut", "Tibbs", "Dash", "Bast")
(aussie,b_collie,indoor_cat,outdoor_cat) = my_pets
print(aussie)
cats=(indoor_cat,outdoor_cat)
print(cats)

Chestnut
('Dash', 'Bast')

Dictionaries

Dictionaries are unordered, keyed lists. Lists are ordered, and the index may be viewed as a key.

In [80]:
a={"a":lambda x: x**2,1:"abc","c":{"d":1,"e":2}}

In [83]:
a["a"](4)

16

In [74]:
type(a)

dict

In [78]:
a["a"]

[0]

In [82]:
a[1]

'abc'

In [79]:
a["c"]["d"]

1

In [88]:
a.keys()

['a', 1, 'c']

Sets

In [87]:
fruits = set(["apples","oranges","grapes","bananas"])
citrus = set(["lemons","oranges","limes","grapefruits","clementines"])
citrus_in_fruits = fruits & citrus   #intersection
print(citrus_in_fruits)
diff_fruits = fruits - citrus        # set difference
print(diff_fruits)
diff_fruits_reverse = citrus - fruits  # set difference
print(diff_fruits_reverse)
citrus_or_fruits = citrus | fruits     # set union
print(citrus_or_fruits)

set(['oranges'])
set(['apples', 'grapes', 'bananas'])
set(['grapefruits', 'clementines', 'lemons', 'limes'])
set(['clementines', 'grapes', 'limes', 'oranges', 'grapefruits', 'apples', 'lemons', 'bananas'])

In [89]:
a_list = ["a", "a","a", "b",1,2,3,"d",1]
print(a_list)
a_set = set(a_list)  # Convert list to set
print(a_set)         # Creates a set with unique elements
new_list = list(a_set) # Convert set to list
print(new_list)        # Obtain a list with unique elements

['a', 'a', 'a', 'b', 1, 2, 3, 'd', 1]
set(['a', 1, 2, 'b', 'd', 3])
['a', 1, 2, 'b', 'd', 3]

### Functions
In Python, functions behave like any other object, such as an int or a list. That means that you can use functions as arguments to other functions, store functions as dictionary values, or return a function from another function. This leads to many powerful ways to use functions.

In [90]:
def square(x):
    """Square of x."""
    return x*x

def cube(x):
    """Cube of x."""
    return x*x*x

In [91]:
# create a dictionary of functions

funcs = {
    'square': square,
    'cube': cube,
}

In [93]:
x = 3

print square(x)
print cube(x)

for func in sorted(funcs):
    print func, funcs[func](x)

9
27
cube 27
square 9

Variables in function.

In [94]:
def f(a=range(10)):
    for i in a:
        locals()["x_{}".format(i)]=i
        print locals()["x_{}".format(i)]

In [95]:
f()

0
1
2
3
4
5
6
7
8
9

In [96]:
x_1

NameError: name 'x_1' is not defined

In [97]:
def f(a=range(10)):
    for i in a:
        globals()["x_{}".format(i)]=i
        print globals()["x_{}".format(i)]

In [98]:
f()

0
1
2
3
4
5
6
7
8
9

In [101]:
x_1

1

Higher-order function

A function that uses another function as an input argument or returns a function (HOF) is known as a higher-order function. The most familiar examples are map and filter.

map: map applies a function to all the items in an input_list

filter: As the name suggests, filter creates a list of elements for which a function returns true.

reduce: it is really useful function for performing some computation on a list and returning the result.

In [103]:
map(lambda x: x**3, range(5))

[0, 1, 8, 27, 64]

In [105]:
filter(lambda x: x%3==0, range(10))

[0, 3, 6, 9]

In [133]:
reduce(lambda x,y: (x*y), range(1,5))

24

In [118]:
def custom_sum(xs, transform):
    """Returns the sum of xs after a user specified transform."""
    return sum(map(transform, xs))

xs = range(5)
print custom_sum(xs, square)
print custom_sum(xs, cube)

30
100

In [106]:
# what does this function do?
s1 = reduce(lambda x, y: x+y, filter(lambda x: x%2==0,map(lambda x: x**2, range(1,10))))
print(s1)
print

# functional expressions and lambdas are cool
# but can be difficult to read when over-used
# Here is a more comprehensible version
s2 = sum(x**2 for x in range(2, 10, 2))
print(s2)

# we will revisit map-reduce when we look at high-performance computing
# where map is used to distribute jobs to multiple processors
# and reduce is used to calculate some aggreate function of the results
# returned by map

120

120

Generator

In [108]:
def f(x):
    for i in range(x):
        yield i/2

In [109]:
for i in f(10):
    print i

0
0
1
1
2
2
3
3
4
4

enumerate

In [165]:
# using and index in a loop
xs = [1,2,3,4]
for i in range(len(xs)):
    print i, xs[i]
print

# using enumerate
for i, x in enumerate(xs):
    print i, x

0 1
1 2
2 3
3 4

0 1
1 2
2 3
3 4

zip

In [110]:
xs = [1, 2, 3, 4]
ys = [10, 20, 30, 40,50]
zs = ['a', 'b', 'c', 'd', 'e']

print zip(xs,ys)

for x, y, z in zip(xs, ys, zs):
    print x, y, z

[(1, 10), (2, 20), (3, 30), (4, 40)]
1 10 a
2 20 b
3 30 c
4 40 d

Recursion

In [180]:
# The Fibonacci sequence is a classic recursion example

def fib1(n):
    """Fib with recursion."""

    # base case
    if n==0 or n==1:
        return 1
    # recurssive caae
    else:
        return fib1(n-1) + fib1(n-2)

print [fib1(i) for i in range(10)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
#It is very useful and easy for use,
#But it is not efficient.

### Classes

A class (or object) bundles data (known as attributes) and functions (known as methods) together. We access the attributes and methods of a class using the ‘.’ notation. Since everything in Python is an object, we have already been using this attribute acccess - e.g. when we call 'hello'.upper(), we are using the upper method of the instance 'hello' of the string class.

The creation of custom classes will not be covered in this course.

### Modules

In [92]:
import numpy
import numpy as np # using an alias
import numpy.linalg as la # modules can have submodules
from numpy import sin, cos, tan # bring trig functions into global namespace
from numpy import * # frowned upon because it pollutes the namespace

In [93]:
#pip install..
#conda install..
#Copy paste the module in your working directory
#Copy the module to site-packages folder and so on.

### Exercises:

1.“Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.

In [111]:
for i in range(1, 101):
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

2.Write a function to calculate the number times each character occurs in the given string s. Ignore differneces in capitalization - i.e ‘a’ and ‘A’ should be treated as a single key.

In [2]:
aa=raw_input("input a string: ")
bb=raw_input("input a character: ")

def find_char_1(aa,bb):
    from collections import Counter
    counter3 = Counter(aa.lower())
    print counter3[bb]

def find_char_2(aa,bb):
    tmp=list(aa.lower().replace(" ",""))
    bb=bb.lower()
    if len(bb)==1:      
        print sum([1 for i in tmp if i==bb])
    else:
        print "only one char is acceptable"
find_char_2(aa,bb)

input a string: abbc
input a character: D
0

3.Create a list of the cubes of x for x in [0, 10] using

a for loop

a list comprehension

the map function

In [4]:
[x**3 for x in range(11)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [6]:
a=[]
for i in range(11):
    a.append(i**3)

In [8]:
a

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [9]:
map(lambda x:x**3,range(11))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

4.We define a modified Fibonacci sequence using the following definition:

Given terms $t_i$ and $t_{i+1}$ where $i \in [1,\infty)$, term $t_{i+2}$ is computed using:

$t_{i+2}=t_{i}+(t_{i+1})^2$

$t_1=0$, $t_2=1$, find the 5th and 10th integers in this sequence.

In [ ]:
t1,t2,n=[int(i) for i in raw_input().split(" ")]

def fun(x):
    if x==1:
        return t1
    elif x==2:
        return t2
    else:
        return ((fun(x-1)**2)+fun(x-2))

print fun(n)

Refferences

Duke Computational Statistics in Python.

Hackerrank